*{
	margin: 0;
	padding: 0;
}
#checkZone{
	margin: 0 50px;
	position: relative;
	padding: 20px;
}
#questionZone{
	border-top: 3px solid #BEBEBE;
	border-bottom: 3px solid #BEBEBE;
	padding: 20px;
}
.qTitle{
	margin: 20px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	width: 100%;
	padding: 20px 0;
}

.questionDetail{
	padding: 20px;
	position: relative;
}
.questionDetail:hover{
	background-color: #FDF1E6;
}
.questionOption{
	padding-left: 50px;
	margin: 10px;
}

#saveButton{
	text-align: center;
	padding: 50px;
}

.groundColor{
	background-color: #FDF1E6;
}

.spaceBoth{
	padding: 0 10px;
}