*{
	margin: 0;
	padding: 0;
}
#editZone{
	margin: 0 50px;
	position: relative;
	padding: 20px;
}
#questionZone{
	border-top: 3px solid #BEBEBE;
	border-bottom: 3px solid #BEBEBE;
	padding: 20px;
}
input{
	border: none;
}
.qTitle{
	margin: 20px;
	text-align: center;
}
.qTitle input{
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	width: 100%;
	padding: 20px 0;
}
.qTitle input:hover{
	background-color: #FDF1E6;
}

.inputLength{
	width: 60%;
}
.questionDetail{
	padding: 20px;
	position: relative;
}
.questionDetail input{
	font-size: 15px;
}
.questionTitle input{
	font-weight: bold;
}
.questionOption{
	padding-left: 50px;
	margin: 10px;
	position: relative;
}
.questionAnswerDelete{
	position: absolute;
	left: 10px;
	top: 0;
	font-size: 18px;
	display: none;
}
.questionAnswerDelete:hover{
	color: #E67312;
	cursor: pointer;
}
.questionUp{
	position: absolute;
	right: 20px;
	top: 10px;
	display: none;
}
.questionDown{
	position: absolute;
	right: 20px;
	bottom: 10px;
	display: none;
}
.questionUpRe{
	position: absolute;
	right: 20px;
	top: 10px;
}

.questionChoose{
	margin: 20px;
	border: 1px solid #D2D2D2;
	text-align: center;
}
.questionType{
	display: none;
}
.questionType button{
	margin: 20px;
	font-size: 20px;
	height: 50px;
	padding: 0 10px;
}
.questionAdd{
	padding: 30px;
	background-color: #EEEEEE;
	font-size: 30px;
}
.questionAdd:hover{
	background-color: #FDF1E6;
}
#timeDiv{
	padding: 20px 100px;
}
#saveButton{
	position: absolute;
	right: 200px;
	bottom: 20px;
}

.groundColor{
	background-color: #FDF1E6;
}



#timeDiv{
	position: relative;
}
#dataText{
	font-size: 18px;
}
#dateInput{
	width: 240px;
	height: 20px;
	line-height: 20px;
	padding-left: 10px;
	border: 1px solid #CED1D2;
	margin: 10px;
	padding: 10px 20px;
	font-size: 18px;
}
#hidePart{
	position: absolute;
	top: 50px;
	left: 165px;
	display: none;
}
#leadTable{
	width: 0px;
	height:0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #E77408 transparent;
	position: absolute;
	top:20px;
	left: 185px;
}
#calTable{
	width: 280px;
	text-align: center;
	border-collapse: collapse;
	position: absolute;
	top: 30px;
	left: 50px;
}
.tableTitle{
	background-color: #E77408;
	color: #ffffff;
	height: 25px;
	line-height: 25px;
	border: 1px solid #E77408;
}
#thLeft{
	width: 0px;
	height:0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent #ffffff transparent transparent;
	float: right;
}
#thRight{
	width: 0px;
	height:0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent #ffffff;
	float: left;
}
#chooseMonth{
	position: relative;
}
#inputMonth{
	display: none;
	position: absolute;
	top: -2px;
	left: 0;
	text-align: center;
}
#chooseYear{
	position: relative;
}
#inputYear{
	width: 35px;
	display: none;
	position: absolute;
	top: -2px;
	left: 0;
	text-align: center;
}
/*
	Day
 */
.last,.now,.next{
	height: 40px;
	width: 40px;
	border: 2px solid #efefef;
}
.point:hover{
	background-color: #E77408;
}
.last,.next{
	color: #cdcdcd;
}
.cDay{
	background-color: #f88419;
}