*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 1em;
}
button{
	margin: 10px;
}
.blockNormal{
	float: left;
	padding: 10px;
	margin: 10px;
	font-family: "微软雅黑";
	background-color: #ffffff;
	color: #454545;
	border: 1px solid #454545;
}
.blockNormal span{
	display: none;
}
.blockDelete{
	color: blue;
	font-weight: bold;
	float: left;
	padding: 10px;
	margin: 10px;
	font-family: "微软雅黑";
	background-color: #ffffff;
	border: 1px solid #454545;
}
#tagsArea{
	margin: 20px;
}
#hobbyArea{
	margin: 20px;
	clear: both;
}